@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

#routes Rectangle {
    -fx-fill: "Transparent";
    -fx-stroke: "black";
}

#villes Circle {
    -fx-fill: "Transparent";
    -fx-stroke: "black";
}

#nomJoueur {
    -fx-font-family: "Georgia";
    -fx-font-size: 16px;
}

#sousTitreJoueur {
    -fx-font-family: "Roboto";
    -fx-text-fill: #c5c5c5;
}


